* {box-sizing:border-box;}
h1,h2, p{
    text-align: center;
}

form{
 display:flex;
 flex-direction: column;
 width:80%;
 margin: 50px auto;
 background-color: thistle;
 border-radius: 10px;
 padding: 30px;



}

input[type=text], textarea {
    padding: 10px;
    border-radius:10px;
    width: 50%;
    margin: 5px auto;


}


input[type=submit]{
    padding: 10px;
    border-radius:10px;
    width: 30%;
    margin: 20px auto;
    background-color: aquamarine;

}

label{
    text-align:center
}

